.alternate {
  margin-top: 80px;
}
.box-icon.box-icon-side {
  position: relative;
  padding-left: 70px;
}
@media only screen and (max-width: 760px) {
  .box-icon {
    margin: 60px 0;
  }
}
.box-icon {
  margin: 30px 0;
}
body {
  color: #666;
  background-color: #fff;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.box-icon.box-icon-side > i {
  position: absolute;
  left: 0;
  top: 10px;
  font-size: 48px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.box-icon > a,
.box-icon .box-icon-title {
  text-decoration: none !important;
  display: block;
}
a {
  color: rgb(63, 17, 17);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
a,
a:focus,
a:hover,
a:active {
  outline: 0;
  cursor: pointer;
}
a:hover {
  color: rgb(133, 102, 102);
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.box-icon a.box-icon-more {
  color: #111;
}
.box-icon a.box-icon-more {
  display: block;
  text-align: right;
  position: relative;
  color: #000;
}
.box-icon > a,
.box-icon .box-icon-title {
  text-decoration: none !important;
  display: block;
}
.font-lato {
  font-weight: 300;
  font-family: "Lato", Arial, Helvetica, sans-serif !important;
}
.box-icon a.box-icon-more {
  color: #111;
}
.box-icon a.box-icon-more {
  display: block;
  text-align: right;
  position: relative;
  color: #000;
}
.font-lato {
  font-weight: 300;
  font-family: "Lato", Arial, Helvetica, sans-serif !important;
}
.weight-300 {
  font-weight: 300 !important;
}
a,
a:focus,
a:hover,
a:active {
  outline: 0;
  cursor: pointer;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
}
img {
  border: 0;
  vertical-align: middle;
}
.about-us-banner h1:before {
  background-color: #efac18ab;
  content: "";
  width: 54px;
  height: 54px;
  border-radius: 50%;
  position: absolute;
  top: 170px;
  z-index: -1;
  margin-left: -15px;
  margin-top: -168px;
}
style attribute {
  color: #ffff;
  margin-top: -220px;
}
.about-us-banner h1 {
  font-size: 36px;
  color: #1c1c1c;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  letter-spacing: -0.8px;
  padding-left: 17px;
  margin-left: 60px;
  margin-top: -168px;
}
